<div>
	<button ng-click="runtests()" class="btn">Run Tests</button>
	<br>
	<br>
	<table border="1">
	<tr> <td width="200">Insert Activity</td><td><span title="{{InsertActivityTestData.body}}" style="color:{{InsertActivityTestData.color}};">{{InsertActivityTestData.result}}</span></td> </tr>
	<tr> <td width="200">Insert Event</td><td><span title="{{InsertEventTestData.body}}" style="color:{{InsertEventTestData.color}};">{{InsertEventTestData.result}}</span></td> </tr>
	<tr> <td>Get Activity List</td><td><span title="{{ActivityListTestData.body}}" style="color:{{ActivityListTestData.color}};">{{ActivityListTestData.result}}</span></td> </tr>
</table>
</div>

